* {
  box-sizing: border-box;
}
body {
  background-color: #ffe62c;
  font-family: Ubuntu, arial, serif;
  display: flex;
  justify-content: center;
  margin: 0;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.triangulo-izquierda {
  border-top: 100px solid #000000;
  border-right: 100px solid transparent;
  top: 0;
  left: 0;
  position: fixed;
  width: 0;
  height: 0;
}
.triangulo-derecha {
  border-top: 100px solid #000000;
  border-left: 100px solid transparent;
  top: 0;
  right: 0;
  position: fixed;
  width: 0;
  height: 0;
}
.circulo-izquierda {
  width: 100px;
  height: 100px;
  background-color: #ea2a2a;
  overflow: hidden;
  border-radius: 0 100% 0 0;
  bottom: 0;
  left: 0;
  position: fixed;
}
.circulo-derecha {
  width: 100px;
  height: 100px;
  background-color: #ea2a2a;
  overflow: hidden;
  bottom: 0;
  right: 0;
  border-radius: 100% 0 0 0;
  position: fixed;
}
.pokelogo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokelogo img {
  width: 70%;
  height: auto;
}
.pokecard__search {
  box-shadow: 3px 5px 30px -10px rgb(105, 105, 105);
  background-color: #fffcec;
  color: #90908b9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  transition: transform 0.3s;
  position: relative;
}
.pokecard__search:hover {
  transform: scale(1.1);
}
.pokecard__search input{
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.pokecard__search button {
  padding: 10px 15px;
  background-color: #ea2a2a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
}
.pokecard__search img {
  width: 30px;
  height: auto;
  margin: 10px;
}
.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-between;
  grid-gap: 30px;
  margin-bottom: 50px;
}
.pokecard {
  border: solid #d3d3ce 2px;
  box-shadow: 3px 5px 49px -16px rgb(107, 108, 108);
  padding: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 100%;
  transition: transform 0.3s;
}
.pokecard:hover {
  transform: scale(1.1);
}
.pokecard__top {
  background-color: #dfdfdf;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.pokename__id {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #7a5743;
  background-color: #d1cdca;
  padding: 2px 5px;
}
.pokecard__botton {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  flex-grow: 1;
}
.pokename {
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: capitalize;
}
.pokecard__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.pokecard__list li {
  color: #7a5743;
  border: 1px solid #7a5743;
  border-radius: 5px;
  display: inline-block;
  padding: 2px 5px;
  font-size: 13px;
  margin-right: 4px;
}
.pokevoluciona {
  display: flex;
  flex-direction: column;
  border-left: 5px solid #61391e;
  padding-left: 3px;
}
.pokevoluciona__indice {
  color: #7a5743;
}
.pokevoluciona__pokename {
  font-size: 22px;
}
